<h2>Galaxies</h2>
<section class="records-list">
        <% @galaxies.each do |galaxy| %>
        <section class="record">
            <a href="/galaxy/<%= galaxy.id %>">
                <img class="thumb" src="<%= galaxy.photo_url %>" alt="<%= galaxy.name %>">
            </a>
            <p><a href="/galaxy/<%= galaxy.id %>"><%= galaxy.name %></a><p>
        </section>
    <% end %>  
</section>

